<body style="font-family: 'Work Sans', sans-serif; padding: 30px; background-color: #f0f0f0;">
    <div style="background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
        <div style="text-align: center;">
            <div style="font-weight: 600; color: #00b4ff;
            text-align: center; font-size: 80px;">SNEAKPICK</div>
            <!-- <img src="https://drive.google.com/uc?export=view&id=1Oduwn0c_19D-SL4ZCfCrKnmrchYCA-4Q" style="width: 242px; height: 88px;"/>-->
        </div>
        
        
        <main>
            <header style="font-weight: 600; margin-bottom: 20px; color: #dddddd;
            text-align: center; font-size: 20px;">JESZCZE TYLKO JEDNO KLIKNIĘCIE!</header>
            <div style="text-align: center;">Cześć {{user.first_name}},</div><br />
            
            <div style="text-align: center;">dziękujemy za rejestrację na Sneakpick. Aby aktytować konto skorzystaj z poniższego przycisku.</div>
            
            <div style="text-align: center; margin: 50px 0;">
                <a style="text-decoration: none;" href=`{{domain}}/activation/{{uid}}/{{token}}`>
                    <span style="background-color: #00b4ff; padding: 10px 20px;
                    color: white; border-radius: 5px;">
                        Aktywuj konto
                    </span>
                </a>
            </div>
        </main>
    </div>

    <footer style="color: #777777; font-size: 14px; text-align: center; margin-top: 20px;">© 2022 Sneakpick. All rights reserved.</footer>
</body>